.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.sidebar {
    grid-column: 1;
}

.sidebar > a {    
    display: block;
}

.panel {
    grid-column: 2 / 7;
}

.one {
    grid-row: 1;
}

.two-left {
    grid-row: 2;
    grid-column: 2 / 3;
}

.two-right {
    grid-row: 2;
    grid-column: 3 / 7;
}

.three {
    grid-row: 3;
}